[submodule "external_includes/glm"]
	path = external_includes/glm
	url = https://github.com/g-truc/glm.git
[submodule "external_includes/assimp"]
	path = external_includes/assimp
	url = https://github.com/assimp/assimp.git